.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Ubuntu-B';
  src: url('../fonts/Ubuntu-B.eot');
  src: local('☺'), url('../fonts/Ubuntu-B.woff') format('woff'), url('../fonts/Ubuntu-B.ttf') format('truetype'), url('../fonts/Ubuntu-B.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  -webkit-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -moz-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -o-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -moz-transition: all 0.2s ease-out;
}
.teambition-font {
  font-family: Ubuntu-B;
  font-weight: normal;
}
#wrapper .tag-title {
  margin-bottom: 40px;
  font-size: 28px;
  text-align: center;
  color: #383838;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}
.navbar .navbar-inner {
  min-height: 40px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #d9d9d9;
}
.navbar .brand {
  float: none;
  display: table;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #a6a6a6;
  line-height: 100px;
  -webkit-transition: all 0.218s ease-in-out;
  -moz-transition: all 0.218s ease-in-out;
  -o-transition: all 0.218s ease-in-out;
  transition: all 0.218s ease-in-out;
}
.navbar .brand.small {
  height: 42px;
  font-size: 12px;
  line-height: 42px;
}
.navbar .brand.small b {
  font-size: 22px;
}
.navbar .brand:hover {
  background-color: transparent;
  color: #a6a6a6;
}
.navbar .brand b {
  float: left;
  margin-top: -2px;
  margin-right: 6px;
  color: #383838;
  font-size: 32px;
  letter-spacing: 1px;
  -webkit-transition: font-size 0.218s ease-in-out;
  -moz-transition: font-size 0.218s ease-in-out;
  -o-transition: font-size 0.218s ease-in-out;
  transition: font-size 0.218s ease-in-out;
}
.pagination {
  margin-bottom: 70px;
}
.pagination a.btn {
  width: 80px;
}
.pagination .prev {
  float: left;
}
.pagination .next {
  float: right;
}
.index-footer {
  padding: 30px 0;
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
}
.index-footer img {
  display: none;
}
.index-footer section {
  height: 30px;
  max-width: 1020px;
  margin: 0 auto;
  line-height: 30px;
  color: #a6a6a6;
}
.index-footer section b {
  float: left;
  margin-top: -2px;
  margin-right: 6px;
  color: #383838;
  font-size: 32px;
  letter-spacing: 1px;
}
.index-footer section .sns-info {
  float: right;
  margin-top: -6px;
  line-height: 20px;
  text-align: center;
}
.index-footer section .sns-info > div {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
  background-color: #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  background-image: url(../img/helper-sns-logo.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
  .index-footer section .sns-info > div {
    background-image: url(../img/helper-sns-logo@2x.png);
    background-size: 120px 80px;
  }
}
.index-footer section .sns-info > div:before {
  position: absolute;
  left: 0;
  top: -20px;
  width: 40px;
  height: 40px;
  content: "";
}
.index-footer section .sns-info > div:hover .pop {
  display: block;
}
.index-footer section .sns-info > div .pop {
  display: none;
  position: absolute;
  padding: 20px;
  border: 1px solid #d5d8dd;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}
.index-footer section .sns-info > div .pop:before {
  position: absolute;
  left: 68px;
  bottom: -15px;
  border: 7px solid transparent;
  border-top: 7px solid #d5d8dd;
  content: "";
}
.index-footer section .sns-info > div .pop:after {
  position: absolute;
  left: 68px;
  bottom: -14px;
  border: 7px solid transparent;
  border-top: 7px solid white;
  content: "";
}
.index-footer section .sns-info > div .pop label {
  color: #808080;
  margin-bottom: 0;
}
.index-footer section .sns-info > div .pop p {
  margin-bottom: 10px;
}
.index-footer section .sns-info .sina-info {
  background-position: 0 0;
}
.index-footer section .sns-info .sina-info:hover {
  background-position: 0 -40px;
}
.index-footer section .sns-info .qq-info {
  background-position: -40px 0;
}
.index-footer section .sns-info .qq-info:hover {
  background-position: -40px -40px;
}
.index-footer section .sns-info .weixin-info {
  background-position: -80px 0;
}
.index-footer section .sns-info .weixin-info:hover {
  background-position: -80px -40px;
}
.index-footer section .sns-info .sina-info .pop {
  top: -150px;
  left: -55px;
  width: 150px;
  height: 130px;
}
.index-footer section .sns-info .qq-info .pop {
  top: -150px;
  left: -55px;
  width: 150px;
  height: 130px;
}
.index-footer section .sns-info .weixin-info .pop {
  top: -220px;
  left: -65px;
  width: 170px;
  height: 200px;
}
.index-footer section .sns-info .weixin-info .pop:before {
  left: 78px;
}
.index-footer section .sns-info .weixin-info .pop:after {
  left: 78px;
}
.index-footer section .sns-info .weixin-info .pop .qr-wrapper {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-image: url(../img/weixin-qr.jpg);
  background-size: 120px 120px;
}
article time {
  font-size: 12px;
}
article .tag {
  color: #a6a6a6;
  font-size: 16px;
  text-decoration: none;
  margin-right: 15px;
  font-style: italic;
}
#post > article {
  width: 480px;
  float: left;
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
#post > article a:hover {
  text-decoration: none;
}
#post > article header h1 {
  margin-top: 30px;
  color: #383838;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2em;
}
#post > article .image-bg {
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
  background-color: #f5f6f7;
}
#post > article .image-wrapper {
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#post > article > .main-content > p {
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#post > article p {
  font-size: 16px;
  color: #383838;
}
#post > article img {
  display: none;
}
.hero {
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-backface-visibility: hidden;
}
.hero-bg {
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 500px;
  background-color: #383838;
}
.hero-bg .loading-indicator {
  margin-top: 240px;
}
.square-brand {
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 15px;
  width: 44px;
  height: 44px;
  font-size: 36px;
  color: #383838;
  text-align: center;
  line-height: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.218s ease-in-out;
  -moz-transition: all 0.218s ease-in-out;
  -o-transition: all 0.218s ease-in-out;
  transition: all 0.218s ease-in-out;
}
.page-container {
  width: 640px;
  margin: 0 auto;
}
.page-container > article {
  margin-bottom: 70px;
}
.page-container header {
  margin-top: 40px;
}
.page-container header > h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 35px;
}
.main-content {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.7em;
}
.main-content p {
  margin: 1.5em 0;
}
.main-content h3 {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.1em;
}
.main-content blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 2px solid #d9d9d9;
}
.postnav {
  margin-top: 70px;
  color: #ffffff;
  background-color: #333;
}
.postnav .postnav-inner {
  height: 150px;
  width: 1020px;
  margin: 0 auto;
}
.postnav .postnav-inner > div {
  height: 150px;
  float: left;
}
.postnav .prev,
.postnav .next {
  width: 400px;
  line-height: 30px;
}
.postnav .prev a,
.postnav .next a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  text-decoration: none;
}
.postnav .prev a:hover,
.postnav .next a:hover {
  color: #ffffff;
  background-color: #3b3b3b;
}
.postnav .home {
  width: 220px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.postnav .home:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.postnav .home a {
  display: block;
  width: 100%;
  height: 100%;
}
.postnav .home a:hover {
  background-color: #3b3b3b;
}
.postnav .home .icon-home {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../img/home-icon.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
}
.postnav span {
  display: block;
  color: #808080;
}
.jiathis_style_24x24.jiathisdiv .jiathis_counter.jiathis_bubble_style {
  width: 60px !important;
  padding: 0 6px 0 6px;
}
.ds-thread .ds-powered-by {
  display: none;
}
@charset "UTF-8";
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */

  -webkit-backface-visibility: hidden;
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(10px);
  }
  80% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateX(10px);
  }
  80% {
    opacity: 1;
    -o-transform: translateX(0);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(10px);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animated.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
@keyframes fades {
  0%,
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes fades {
  0%,
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes fades {
  0%,
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.loading-indicator {
  text-align: center;
}
.loading-indicator .loader-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 15px 3px;
  background: #a6a6a6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fades;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: fades;
  -moz-animation-iteration-count: infinite;
  -o-animation-duration: 1.5s;
  -o-animation-name: fades;
  -o-animation-iteration-count: infinite;
}
.loading-indicator .loader-dot:nth-child(2) {
  -webkit-animation-delay: 0.2s;
}
.loading-indicator .loader-dot:nth-child(3) {
  -webkit-animation-delay: 0.4s;
}
.end-point-wrapper {
  text-align: center;
  margin-bottom: 15px;
}
.end-point-wrapper .end-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1em 3px;
  background: #a6a6a6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 420px) {
  .navbar {
    position: static;
  }
  .navbar .brand {
    height: 42px;
    font-size: 12px;
    line-height: 42px;
  }
  .navbar .brand b {
    font-size: 22px;
  }
  .index-main {
    padding: 10px;
  }
  #wrapper {
    margin-top: 10px;
  }
  #wrapper #post > article {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  #wrapper #post > article .image-wrapper {
    height: 200px;
  }
  #wrapper #post > article .image-bg {
    height: 200px;
  }
  #wrapper #post > article header h1 {
    margin-top: 15px;
  }
  #wrapper #post > article > .main-content > p {
    margin: 10px 0;
  }
  .index-footer section {
    height: auto;
    line-height: normal;
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
  }
  .index-footer section > a {
    display: inline-block;
    height: 30px;
  }
  .index-footer section b {
    font-size: 22px;
  }
  .index-footer section span {
    display: block;
  }
  .index-footer section .sns-info {
    display: none;
  }
  .square-brand.appear {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .square-brand.disappear {
    -webkit-transform: translate3d(-200px, 0, 0);
    -moz-transform: translate3d(-200px, 0, 0);
    -o-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  .article-main .hero {
    height: 150px;
  }
  .article-main .hero-bg {
    height: 150px;
  }
  .article-main .hero-bg .loading-indicator {
    margin-top: 50px;
  }
  .article-main .page-container {
    padding: 10px;
    width: 100%;
  }
  .article-main .page-container header {
    margin-top: 0;
  }
  .article-main .page-container header > h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
  .article-main .postnav .postnav-inner {
    height: auto;
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div {
    height: auto;
    float: none;
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div > a {
    padding: 10px 40px 20px;
  }
  .article-main .postnav .postnav-inner > div > a > span {
    font-size: 14px;
  }
  .article-main .postnav .postnav-inner .prev {
    display: none;
  }
  .article-main .postnav .postnav-inner .home {
    display: none;
  }
}
@media screen and (min-width: 420px) and (max-width: 620px) {
  .navbar {
    position: static;
  }
  .navbar .brand {
    height: 42px;
    font-size: 12px;
    line-height: 42px;
  }
  .navbar .brand b {
    font-size: 22px;
  }
  .index-main {
    padding: 20px;
  }
  #wrapper {
    margin-top: 10px;
  }
  #wrapper #post > article {
    width: 100%;
    padding-bottom: 60px;
  }
  .index-footer section .sns-info {
    display: none;
  }
  .article-main .hero {
    height: 200px;
  }
  .article-main .hero-bg {
    height: 200px;
  }
  .article-main .hero-bg .loading-indicator {
    margin-top: 80px;
  }
  .article-main .page-container {
    padding: 20px;
    width: 100%;
  }
  .article-main .page-container header {
    margin-top: 0;
  }
  .article-main .page-container header > h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
  .article-main .postnav .postnav-inner {
    height: auto;
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div {
    height: auto;
    float: none;
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div > a {
    padding: 20px 40px 40px;
  }
  .article-main .postnav .postnav-inner > div > a > span {
    font-size: 14px;
  }
  .article-main .postnav .postnav-inner .prev {
    display: none;
  }
  .article-main .postnav .postnav-inner .home {
    display: none;
  }
  .index-footer section {
    height: auto;
    line-height: normal;
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
  }
  .index-footer section > a {
    display: inline-block;
    height: 30px;
  }
  .index-footer section b {
    font-size: 22px;
  }
  .index-footer section span {
    display: block;
  }
  .index-footer section .sns-info {
    display: none;
  }
}
@media screen and (min-width: 620px) and (max-width: 1024px) {
  .navbar .brand {
    height: 100px;
    font-size: 16px;
    line-height: 100px;
  }
  .navbar .brand b {
    font-size: 32px;
  }
  .index-main {
    padding: 0;
  }
  #wrapper {
    max-width: 580px;
    margin: 0 auto;
    margin-top: 150px;
  }
  #wrapper #post > article {
    width: 100%;
    padding-bottom: 60px;
  }
  .article-main .page-container {
    padding: 20px;
    width: 100%;
    max-width: 640px;
  }
  .article-main .postnav .postnav-inner {
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div {
    width: 50%;
  }
  .article-main .postnav .postnav-inner .home {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navbar .brand {
    height: 100px;
    font-size: 16px;
    line-height: 100px;
  }
  .navbar .brand b {
    font-size: 32px;
  }
  .index-main {
    padding: 0;
  }
  #wrapper {
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1020px;
  }
  #wrapper #post > article {
    width: 480px;
    float: left;
  }
  #wrapper #post > article.right {
    float: right;
    margin-right: 0px;
  }
}
