.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Ubuntu-B';
  src: url('../fonts/Ubuntu-B.eot');
  src: url('../fonts/Ubuntu-B.woff') format('woff'), url('../fonts/Ubuntu-B.ttf') format('truetype'), url('../fonts/Ubuntu-B.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  height: auto;
  -webkit-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -moz-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -o-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -moz-transition: all 0.2s ease-out;
  background-color: #f5f6f7;
  font-family: 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
a {
  text-decoration: none;
  color: #808080;
}
a:hover {
  text-decoration: none;
}
.teambition-font {
  font-family: Ubuntu-B;
  font-weight: normal;
}
#wrapper .tag-title {
  margin-bottom: 40px;
  font-size: 28px;
  text-align: center;
  color: #383838;
}
.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}
.btn-default {
  color: #383838;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
.btn-default:hover {
  color: #383838;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.btn-primary {
  color: white;
  background-color: #0088cc;
}
.btn-primary:hover {
  background-color: #0099e6;
}
.btn-primary:active {
  background-color: #0077b3;
}
.site-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.site-header .navbar {
  margin-bottom: 0;
  padding: 7px 0;
}
.site-header .navbar-brand {
  width: 180px;
  text-indent: -9999px;
  background-image: url("https://dn-project-site.qbox.me/images/logo@2x.png");
  background-size: auto 25px;
  background-repeat: no-repeat;
  background-position: center 10px;
}
.site-header .navbar-nav > li > a {
  color: #383838;
  font-size: 16px;
  margin-left: 20px;
}
.site-header .navbar-nav > li > a:hover,
.site-header .navbar-nav > li > a:focus {
  color: #428bca;
  background-color: transparent;
}
.site-header .navbar-nav > li.active > a {
  color: #428bca;
}
.site-header .navbar-button {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
}
.site-header .navbar-button > li {
  float: left;
  margin-left: 20px;
}
.site-header .navbar-button .btn {
  width: 80px;
}
@media (max-width: 992px) {
  .site-header .navbar-brand {
    width: 120px;
    background-size: 120px auto;
    background-position: center 14px;
  }
  .site-header .navbar-nav > li > a {
    font-size: 15px;
    margin-left: 14px;
  }
  .site-header .navbar-button .btn {
    width: 70px;
  }
}
#site-footer {
  height: 180px;
  padding: 55px 0;
  background-color: #383838;
}
@media (max-width: 1199px) {
  #site-footer {
    padding: 40px 0;
  }
  #site-footer .footer-container .page-link,
  #site-footer .footer-container .sns-info {
    float: none;
    text-align: center;
  }
  #site-footer .footer-container .page-link {
    margin-top: 10px;
  }
  #site-footer .footer-container .footer-nav {
    width: 100%;
  }
  #site-footer .footer-container .footer-nav > li {
    float: none;
    display: inline-block;
  }
  #site-footer .footer-container .footer-nav > li > a {
    margin: 0 20px;
  }
}
@media (max-width: 479px) {
  #site-footer .footer-container .footer-nav {
    width: 100%;
  }
  #site-footer .footer-container .footer-nav > li > a {
    margin: 0 10px;
  }
}
#site-footer .footer-container {
  max-width: 1100px;
  margin: 0 auto;
}
#site-footer .footer-container a > img {
  position: absolute;
  visibility: hidden;
  width: auto;
}
#site-footer .page-link {
  float: left;
  text-align: left;
}
#site-footer .page-link > p {
  margin-top: 20px;
  font-size: 12px;
  color: #b2b2b2;
}
#site-footer .footer-nav {
  width: 700px;
}
#site-footer .footer-nav > li {
  float: left;
}
#site-footer .footer-nav > li > a {
  color: #5c5c5c;
  margin-right: 70px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#site-footer .footer-nav > li > a:hover {
  color: #fff;
}
#site-footer .footer-nav > li > a.active {
  color: #fff;
}
#site-footer .sns-info {
  float: right;
  margin-top: -6px;
  line-height: 20px;
  text-align: center;
}
#site-footer .sns-info > div {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
  margin: 0px 10px;
  border-radius: 40px;
  cursor: pointer;
  background-image: url(../images/sns-logo.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
  #site-footer .sns-info > div {
    background-image: url(../images/sns-logo@2x.png);
    background-size: 114px 76px;
  }
}
#site-footer .sns-info > div:before {
  position: absolute;
  left: 0;
  top: -20px;
  width: 38px;
  height: 38px;
  content: "";
}
#site-footer .sns-info > div:hover .pop {
  display: block;
}
#site-footer .sns-info > div .pop {
  display: none;
  position: absolute;
  padding: 20px;
  border: 1px solid #d5d8dd;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}
#site-footer .sns-info > div .pop:before {
  position: absolute;
  left: 68px;
  bottom: -15px;
  border: 7px solid transparent;
  border-top: 7px solid #d5d8dd;
  content: "";
}
#site-footer .sns-info > div .pop:after {
  position: absolute;
  left: 68px;
  bottom: -14px;
  border: 7px solid transparent;
  border-top: 7px solid white;
  content: "";
}
#site-footer .sns-info > div .pop label {
  color: #a6a6a6;
  margin-bottom: 0;
}
#site-footer .sns-info > div .pop p {
  margin-bottom: 10px;
}
#site-footer .sns-info > div .pop .btn {
  width: 90px;
  height: 40px;
  line-height: 40px;
}
#site-footer .sns-info .sina-info {
  background-position: 0 0;
}
#site-footer .sns-info .sina-info:hover {
  background-position: 0 -38px;
}
#site-footer .sns-info .qq-info {
  background-position: -38px 0;
}
#site-footer .sns-info .qq-info:hover {
  background-position: -38px -38px;
}
#site-footer .sns-info .weixin-info {
  background-position: -76px 0;
}
#site-footer .sns-info .weixin-info:hover {
  background-position: -76px -38px;
}
#site-footer .sns-info .sina-info .pop {
  top: -150px;
  left: -55px;
  width: 150px;
  height: 130px;
}
#site-footer .sns-info .qq-info .pop {
  top: -150px;
  left: -55px;
  width: 150px;
  height: 130px;
}
#site-footer .sns-info .weixin-info .pop {
  top: -220px;
  left: -65px;
  width: 170px;
  height: 200px;
}
#site-footer .sns-info .weixin-info .pop:before {
  left: 78px;
}
#site-footer .sns-info .weixin-info .pop:after {
  left: 78px;
}
#site-footer .sns-info .weixin-info .pop .qr-wrapper {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-image: url(../images/weixin-qr.jpg);
  background-size: 120px 120px;
}
.pagination {
  margin-bottom: 70px;
  width: 100%;
}
.pagination a.btn {
  width: 80px;
}
.pagination .prev {
  float: left;
}
.pagination .next {
  float: right;
}
.index-footer {
  padding: 30px 0;
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
}
.index-footer img {
  display: none;
}
.index-footer section {
  height: 30px;
  max-width: 1020px;
  margin: 0 auto;
  line-height: 30px;
  color: #a6a6a6;
}
.index-footer section b {
  float: left;
  margin-top: -2px;
  margin-right: 6px;
  color: #383838;
  font-size: 32px;
  letter-spacing: 1px;
}
.index-footer section .sns-info {
  float: right;
  margin-top: -6px;
  line-height: 20px;
  text-align: center;
}
.index-footer section .sns-info > div {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
  background-color: #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  background-image: url(../img/helper-sns-logo.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
  .index-footer section .sns-info > div {
    background-image: url(../img/helper-sns-logo@2x.png);
    background-size: 120px 80px;
  }
}
.index-footer section .sns-info > div:before {
  position: absolute;
  left: 0;
  top: -20px;
  width: 40px;
  height: 40px;
  content: "";
}
.index-footer section .sns-info > div:hover .pop {
  display: block;
}
.index-footer section .sns-info > div .pop {
  display: none;
  position: absolute;
  padding: 20px;
  border: 1px solid #d5d8dd;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}
.index-footer section .sns-info > div .pop:before {
  position: absolute;
  left: 68px;
  bottom: -15px;
  border: 7px solid transparent;
  border-top: 7px solid #d5d8dd;
  content: "";
}
.index-footer section .sns-info > div .pop:after {
  position: absolute;
  left: 68px;
  bottom: -14px;
  border: 7px solid transparent;
  border-top: 7px solid white;
  content: "";
}
.index-footer section .sns-info > div .pop label {
  color: #808080;
  margin-bottom: 0;
}
.index-footer section .sns-info > div .pop p {
  margin-bottom: 10px;
}
.index-footer section .sns-info .sina-info {
  background-position: 0 0;
}
.index-footer section .sns-info .sina-info:hover {
  background-position: 0 -40px;
}
.index-footer section .sns-info .qq-info {
  background-position: -40px 0;
}
.index-footer section .sns-info .qq-info:hover {
  background-position: -40px -40px;
}
.index-footer section .sns-info .weixin-info {
  background-position: -80px 0;
}
.index-footer section .sns-info .weixin-info:hover {
  background-position: -80px -40px;
}
.index-footer section .sns-info .sina-info .pop {
  top: -150px;
  left: -55px;
  width: 150px;
  height: 130px;
}
.index-footer section .sns-info .qq-info .pop {
  top: -150px;
  left: -55px;
  width: 150px;
  height: 130px;
}
.index-footer section .sns-info .weixin-info .pop {
  top: -220px;
  left: -65px;
  width: 170px;
  height: 200px;
}
.index-footer section .sns-info .weixin-info .pop:before {
  left: 78px;
}
.index-footer section .sns-info .weixin-info .pop:after {
  left: 78px;
}
.index-footer section .sns-info .weixin-info .pop .qr-wrapper {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-image: url(../img/weixin-qr.jpg);
  background-size: 120px 120px;
}
article time {
  font-size: 12px;
}
article .tag {
  color: #a6a6a6;
  font-size: 16px;
  text-decoration: none;
  margin-right: 15px;
  font-style: italic;
}
article footer time {
  float: left;
}
article footer .tag {
  float: right;
  font-size: 14px;
}
#post > article {
  width: 480px;
  float: left;
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}
#post > article a:hover {
  text-decoration: none;
}
#post > article header h1 {
  margin-top: 30px;
  color: #383838;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2em;
}
#post > article .image-bg {
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
  background-color: #f5f6f7;
}
#post > article .image-wrapper {
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#post > article > .main-content > p {
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#post > article p {
  font-size: 16px;
  color: #383838;
}
#post > article img {
  display: none;
}
.hero {
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-backface-visibility: hidden;
}
.hero-bg {
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 500px;
  background-color: #383838;
}
.hero-bg .loading-indicator {
  margin-top: 240px;
}
.square-brand {
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 15px;
  width: 44px;
  height: 44px;
  font-size: 36px;
  color: #383838;
  text-align: center;
  line-height: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.218s ease-in-out;
  -moz-transition: all 0.218s ease-in-out;
  -o-transition: all 0.218s ease-in-out;
  transition: all 0.218s ease-in-out;
}
.page-container {
  width: 660px;
  margin: 0 auto;
}
.page-container > article {
  margin-bottom: 70px;
}
.page-container header {
  margin-top: 40px;
}
.page-container header > h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 35px;
}
.main-content {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.7em;
}
.main-content p {
  margin: 1.5em 0;
}
.main-content h2 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
}
.main-content h3 {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.1em;
}
.main-content blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 2px solid #d9d9d9;
}
.postnav {
  margin-top: 70px;
  color: #ffffff;
  background-color: #333;
}
.postnav .postnav-inner {
  height: 150px;
  width: 1020px;
  margin: 0 auto;
}
.postnav .postnav-inner > div {
  height: 150px;
  float: left;
}
.postnav .prev,
.postnav .next {
  width: 400px;
  line-height: 30px;
}
.postnav .prev a,
.postnav .next a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  text-decoration: none;
}
.postnav .prev a:hover,
.postnav .next a:hover {
  color: #ffffff;
  background-color: #3b3b3b;
}
.postnav .home {
  width: 220px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.postnav .home:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.postnav .home a {
  display: block;
  width: 100%;
  height: 100%;
}
.postnav .home a:hover {
  background-color: #3b3b3b;
}
.postnav .home .icon-home {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-image: url("../img/home-icon.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
}
.postnav span {
  display: block;
  color: #808080;
}
.jiathis_style_24x24.jiathisdiv .jiathis_counter.jiathis_bubble_style {
  width: 60px !important;
  padding: 0 6px 0 6px;
}
.ds-thread .ds-powered-by {
  display: none;
}
@charset "UTF-8";
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */

  -webkit-backface-visibility: hidden;
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(10px);
  }
  80% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateX(10px);
  }
  80% {
    opacity: 1;
    -o-transform: translateX(0);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(10px);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animated.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
@keyframes fades {
  0%,
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes fades {
  0%,
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes fades {
  0%,
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.loading-indicator {
  text-align: center;
}
.loading-indicator .loader-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 15px 3px;
  background: #a6a6a6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fades;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: fades;
  -moz-animation-iteration-count: infinite;
  -o-animation-duration: 1.5s;
  -o-animation-name: fades;
  -o-animation-iteration-count: infinite;
}
.loading-indicator .loader-dot:nth-child(2) {
  -webkit-animation-delay: 0.2s;
}
.loading-indicator .loader-dot:nth-child(3) {
  -webkit-animation-delay: 0.4s;
}
.end-point-wrapper {
  text-align: center;
  margin-bottom: 15px;
}
.end-point-wrapper .end-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1em 3px;
  background: #a6a6a6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 420px) {
  .navbar {
    position: static;
  }
  .navbar .brand {
    height: 42px;
    font-size: 12px;
    line-height: 42px;
  }
  .navbar .brand b {
    font-size: 22px;
  }
  .index-main {
    padding: 10px;
  }
  #wrapper {
    margin-top: 10px;
  }
  #wrapper #post > article {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  #wrapper #post > article .image-wrapper {
    height: 200px;
  }
  #wrapper #post > article .image-bg {
    height: 200px;
  }
  #wrapper #post > article header h1 {
    margin-top: 15px;
  }
  #wrapper #post > article > .main-content > p {
    margin: 10px 0;
  }
  .index-footer section {
    height: auto;
    line-height: normal;
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
  }
  .index-footer section > a {
    display: inline-block;
    height: 30px;
  }
  .index-footer section b {
    font-size: 22px;
  }
  .index-footer section span {
    display: block;
  }
  .index-footer section .sns-info {
    display: none;
  }
  .square-brand {
    position: absolute;
  }
  .square-brand.appear {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .square-brand.disappear {
    -webkit-transform: translate3d(-200px, 0, 0);
    -moz-transform: translate3d(-200px, 0, 0);
    -o-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  .article-main .hero {
    height: 150px;
  }
  .article-main .hero-bg {
    height: 150px;
  }
  .article-main .hero-bg .loading-indicator {
    margin-top: 50px;
  }
  .article-main .page-container {
    padding: 10px;
    width: 100%;
  }
  .article-main .page-container header {
    margin-top: 0;
  }
  .article-main .page-container header > h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
  .article-main .postnav .postnav-inner {
    height: auto;
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div {
    height: auto;
    float: none;
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div > a {
    padding: 10px 40px 20px;
  }
  .article-main .postnav .postnav-inner > div > a > span {
    font-size: 14px;
  }
  .article-main .postnav .postnav-inner .prev {
    display: none;
  }
  .article-main .postnav .postnav-inner .home {
    display: none;
  }
}
@media screen and (min-width: 420px) and (max-width: 620px) {
  .navbar {
    position: static;
  }
  .navbar .brand {
    height: 42px;
    font-size: 12px;
    line-height: 42px;
  }
  .navbar .brand b {
    font-size: 22px;
  }
  .index-main {
    padding: 20px;
  }
  #wrapper {
    margin-top: 10px;
  }
  #wrapper #post > article {
    width: 100%;
    padding-bottom: 60px;
  }
  .index-footer section .sns-info {
    display: none;
  }
  .article-main .hero {
    height: 200px;
  }
  .article-main .hero-bg {
    height: 200px;
  }
  .article-main .hero-bg .loading-indicator {
    margin-top: 80px;
  }
  .article-main .page-container {
    padding: 20px;
    width: 100%;
  }
  .article-main .page-container header {
    margin-top: 0;
  }
  .article-main .page-container header > h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
  .article-main .postnav .postnav-inner {
    height: auto;
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div {
    height: auto;
    float: none;
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div > a {
    padding: 20px 40px 40px;
  }
  .article-main .postnav .postnav-inner > div > a > span {
    font-size: 14px;
  }
  .article-main .postnav .postnav-inner .prev {
    display: none;
  }
  .article-main .postnav .postnav-inner .home {
    display: none;
  }
  .index-footer section {
    height: auto;
    line-height: normal;
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
  }
  .index-footer section > a {
    display: inline-block;
    height: 30px;
  }
  .index-footer section b {
    font-size: 22px;
  }
  .index-footer section span {
    display: block;
  }
  .index-footer section .sns-info {
    display: none;
  }
}
@media screen and (min-width: 620px) and (max-width: 1024px) {
  .navbar .brand {
    height: 100px;
    font-size: 16px;
    line-height: 100px;
  }
  .navbar .brand b {
    font-size: 32px;
  }
  .index-main {
    padding: 0;
  }
  #wrapper {
    max-width: 580px;
    margin: 0 auto;
    margin-top: 80px;
  }
  #wrapper #post > article {
    width: 100%;
    padding-bottom: 60px;
  }
  .article-main .page-container {
    padding: 20px;
    width: 100%;
    max-width: 640px;
  }
  .article-main .postnav .postnav-inner {
    width: 100%;
  }
  .article-main .postnav .postnav-inner > div {
    width: 50%;
  }
  .article-main .postnav .postnav-inner .home {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navbar .brand {
    height: 100px;
    font-size: 16px;
    line-height: 100px;
  }
  .navbar .brand b {
    font-size: 32px;
  }
  .index-main {
    padding: 0;
  }
  #wrapper {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1020px;
  }
  #wrapper #post > article {
    width: 480px;
    float: left;
  }
  #wrapper #post > article.right {
    float: right;
    margin-right: 0px;
  }
}
