mixin article(item, index)
  article
    header
      h4: a(href=config.root+item.path)=item.title
      //TODO trans to permalink
    section
      if item.excerpt && index
        !{item.excerpt}
      else 
        !{item.content}
    footer
      h4: small: time(datetime=item.date)=item.date.format(config.date_format)