!!!
html
  head
    include component/scripts
    include component/head
  body
    header.navbar
      .navbar-inner
        a.brand(href="/") 
          b.teambition-font teambition 
          span  blog

    .content
      block content

    footer.index-footer
      section
        a(href="http://www.teambition.com"): b.teambition-font teambition 
        span  &copy; 2013 make work enjoyable 
