!!!
html
  head
    include _head
  body
    aside#sidebar
      nav
        for path,name in theme.menu
          a(href=path)=name

    header.navbar
      .navbar-inner
        ul.nav.left-side
          li: a: i.nav-icon.nav-icon-menu
        a.brand.central(href="/")

    .content
      block content

    footer.footer
      div.container
        p By teambition

    include _scripts
