!!!
html
  head
    include _head
  body
    include _sidebar

    header.navbar
      .navbar-inner
        ul.nav.left-side
          li: a#switcher-toggler: i.nav-icon.nav-icon-menu
        a.brand.central(href="/")
    .content
      block content

    footer
      section: h4 By teambition
    include _scripts
