extends _layout
include _article

block content
  .container
    -left=null
    .row-fluid
      -page.posts.each(function(item){
        if left
          .row-fluid
            .span5.index-block: mixin article(left,true)
            .span5.offset2.index-block: mixin article(item,true)
          -left=null
        else
          -left=item
      -})
      include _pagination