extends _layout

block content
  .container
    .row
      .span8.offset2
        -page.posts.each(function(item){
          section(id=item.title)
            .page-header
              h3
                a(href=config.root+item.path)=item.title
                //TODO trans to permalink
                small
                  time(datetime=item.date)=item.date.format(config.date_format)
        -})
        include _pagination.jade
