extends _layout

block content
  .container
    .row
      .span8.offset2
        -page.posts.each(function(item){
          include _article
          mixin article(item ,true)
        -})
        include _pagination
