extends _layout
include _article

block content
  section#wrapper
    section#post
      -page.posts.each(function(item){
        mixin article(item,true)
      -})
    section.pagination
      include _pagination