extends _layout
include component/article
include component/social
include component/postnav

block content
  -header=page.header||"default.jpg"
  div.hero(style="background-image:url(/header/#{header});")
  .page-container
    mixin article(page, false)
    if config.disqus_shortname
      mixin social()
  mixin postnav(page.next,page.prev)
