extends _layout
include component/article
include component/social
include component/postnav

block content
  .container
    .row
      .span8.offset2
        mixin article(page, false)
        if config.disqus_shortname
          mixin social()
  mixin postnav(page.next,page.prev)
