mixin article(item, index)
  article
    header
      h3: a(href=config.root+item.path)=item.title
    section
      if item.excerpt && index
        !{item.excerpt}
      else 
        !{item.content}
    footer
      h4: small: time(datetime=item.date)=item.date.format(config.date_format)
