header.site-header
  div.container
    nav.navbar(role="navigation")
      div.navbar-header
        a.navbar-brand(href='/') Teambition
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li: a(href='/') 首页
          li: a(href='/feature') 功能
          li: a(href='/apps') 客户端
          li.active: a(href=config.root) 博客
          li: a(href='/support') 帮助
        ul.navbar-button.pull-right
          li: a.btn.btn-default(href='/login') 登录
          li: a.btn.btn-primary(href='/signup') 注册
