mixin postnav(next,prev)
  .postnav.clearfix
    .postnav-inner
      .prev
        if prev
          span=__('prev_post')
          a(href="/#{prev.path}")=prev.title
      .home: a(href="/"): i.icon-home
      .next
        if next
          span=__('next_post')
          a(href="/#{next.path}")=next.title
