#main
  .article
    %h1 &= article.title
    = markdownEncode(article.markdown)
    %a.more{href: "/"} « 返回首页
    .article-footer
      .author
        %img{src:gravitar(article.author.email, 30)}
        .name#{article.author.name}于
        .date{title: article.date}&= formatDate(article.date, "%Y.%m.%d")
  
  #disqus_thread.discuss
  :script
    var disqus_shortname = 'teambition-behind-the-scenes'; 
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  :if article.related && article.related.length > 0
    .bubble
      %h2
        你可能感兴趣的文章
      %ul
        :each related in article.related
          %li
            %a{href: "/" + related.name}&=related.title

