// animation
@charset "UTF-8";
body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}
.animated {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(10px);
  }

  80% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(10px);
  }

  80% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateX(10px);
  }

  80% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(10px);
  }

  80% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}


// indicator

@keyframes fades {
  0%, 100% {
    .opacity(100);
  }

  50% {
    .opacity(0);
  }
}

@-webkit-keyframes fades {
  0%, 100% {
    .opacity(100);
  }

  50% {
    .opacity(0);
  }
}

@-moz-keyframes fades {
  0%, 100% {
    .opacity(100);
  }

  50% {
    .opacity(0);
  }
}

.loading-indicator {
  text-align: center;

  .loader-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 15px 3px;
    background: @gray;
    .border-radius(10px);
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: fades;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 1.5s;
    -moz-animation-name: fades;
    -moz-animation-iteration-count: infinite;
    -o-animation-duration: 1.5s;
    -o-animation-name: fades;
    -o-animation-iteration-count: infinite;

    &:nth-child(2) {
      -webkit-animation-delay: 0.2s;
    }

    &:nth-child(3) {
      -webkit-animation-delay: 0.4s;
    }
  }
}

.end-point-wrapper {
  text-align: center;
  margin-bottom: 15px;

  .end-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1em 3px;
    background: @gray;
    .border-radius(10px);
  }
}


// main styles block
body{
  .transition(all .25s cubic-bezier(0.7,0,0.175,1) 0);
  -moz-transition: all .2s ease-out;
}

.teambition-font{
  font-family: Ubuntu-B;
  font-weight: normal;
}

#wrapper {  
  max-width:860px; 
  margin: 0 auto;
  margin-top: 150px;
  .tag-title{
    margin-bottom: 40px;
    font-size: 28px;
    text-align: center;
    color: @darkTextColor;
  }
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  .navbar-inner{
    min-height: 40px;
    .box-shadow(none);
    border-bottom: 1px solid @grayLight;
  }
  .brand{
    float: none;
    display: table;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: @lightTextColor;
    line-height: 100px;
    .transition(all 0.218s ease-in-out);
    &.small{
      height: 42px;
      font-size: 12px;
      line-height: 42px;
      b{
        font-size: 22px;
      }  
    }

    &:hover{
      background-color: transparent;
      color: @lightTextColor;
    }

    b{
      float: left;
      margin-right: 6px;
      color: @darkTextColor;
      font-size: 32px;
      letter-spacing: 1px;
      .transition(font-size 0.218s ease-in-out);
    }
  }
}

.pagination{
  margin-bottom: 70px;
  a.btn{
    width: 80px;
  }
  .prev{
    float: left;
  }
  .next{
    float: right;
  }
}

.index-footer {
  padding: 30px 0;
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
  section {
    height: 30px;
    max-width: 1020px;
    margin: 0 auto;
    line-height:30px;
    color: @lightTextColor;
    b{
      float: left;
      margin-top: -2px;
      margin-right: 6px;
      color: @darkTextColor;
      font-size: 32px;
      letter-spacing: 1px;
    }
    .sns-info {
      float: right;
      margin-top: -6px;
      line-height: 20px;
      text-align: center;
      > div {
        display: inline-block;
        position: relative;
        .square(40px);
        margin: 0px 10px;
        background-color: @white;
        .border-radius(40px);
        cursor: pointer;
        background-image: url(../img/helper-sns-logo.png);
        @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
          background-image: url(../img/helper-sns-logo@2x.png);
          background-size: 120px 80px;
        }

        &:before {
          position: absolute;
          left: 0;
          top: -20px;
          .square(40px);
          content: "";
        }

        &:hover {
          .pop {
            display: block;
          }
        }
        .pop {
          display: none;
          position: absolute;
          padding: 20px;
          border: 1px solid #d5d8dd;
          background-color: @white;
          .box-shadow(0 1px 6px rgba(0,0,0,.15));
          &:before {
            position: absolute;
            left: 68px;
            bottom: -15px;
            border: 7px solid transparent;
            border-top: 7px solid #d5d8dd;
            content: "";
          }
          &:after {
            position: absolute;
            left: 68px;
            bottom: -14px;
            border: 7px solid transparent;
            border-top: 7px solid white;
            content: "";
          }
          label {
            color: @grayTextColor;
            margin-bottom: 0;
          }
          p {
            margin-bottom: 10px;
          }
        }
      }

      .sina-info {
        background-position: 0 0;
        &:hover {
          background-position: 0 -40px;
        }
      }

      .qq-info {
        background-position: -40px 0;
        &:hover {
          background-position: -40px -40px;
        }
      }

      .weixin-info {
        background-position: -80px 0;
        &:hover {
          background-position: -80px -40px;
        }
      }

      .sina-info .pop {
        top: -150px;
        left: -55px;
        .size(130px,150px);
      }

      .qq-info .pop {
        top: -150px;
        left: -55px;
        .size(130px,150px);
      }

      .weixin-info .pop {
        top: -220px;
        left: -65px;
        .size(200px,170px);
        &:before {
          left: 78px;
        }
        &:after {
          left: 78px;
        }
        .qr-wrapper {
          .square(120px);
          margin: 0 auto;
          background-image: url(../img/weixin-qr.jpg);
          background-size: 120px 120px;
        }
      }
    }
  }

}

@media (max-width:979px){
  body{margin-top:0}
}
@media screen and (min-width: 1024px) {
  #wrapper,.pagination {
    padding-right:0;
    padding-left:0;
    max-width:1020px;
  }
}
@media screen and (max-width: 1023px) { 
  #page { padding: 0 60px; }
  #wrapper{ 
    max-width:580px; 
    width:100%; 
  }
}