.navbar{
  text-align: center;
  .brand{
    float: none;
    display: table;
    margin: 0 auto;
    padding: 0;
    &:hover{
      background-color: transparent;
      color: @grayTextColor;
      a{
        color: @lightTextColor;
      }
    }
    b{
      font-family: Ubuntu-B;
      font-weight: normal;
      color: @darkTextColor;
      font-size: 32px;
    }

    span{
      font-size: 18px;
      font-weight: normal;
    }
  }
}