@import "../_less/mixins";
@import "../_less/variables";
@import "font";
@import "index";
@import "article";
@import "post";

.icon-home{
  display:inline-block;
  width:50px;
  height:50px;
  background-image:url("../img/home-icon.png");
  background-position:0 0px;
  background-repeat:no-repeat;
}

.jiathisdiv{margin:40px 0px;}

#wrapper {  
  max-width:860px; 
  margin: 0 auto;
  padding: 100px 60px 0px 60px;
}

.btn.next{float:right;}
.pagination{margin-bottom:70px;}
@media (max-width:979px){
  body{margin-top:0}
}
@media screen and (min-width: 1024px) {
  #wrapper,.pagination {
    padding-right:0;
    padding-left:0;
    max-width:1020px;
  }
}

@media screen and (max-width: 1023px) { 
  #page { padding: 0 60px; }
  #wrapper{ 
    max-width:580px; 
    width:100%; 
    padding:60px 0 0 0;
  }
}

