@import "../_less/mixins.less";
@import "../_less/variables.less";
article>section img{width:100%}

#switcher {
position: fixed;
top: 0;
bottom: 0;
left: -210px;
z-index: 1;
width: 210px;
padding-top: 5px;
overflow-y: auto;
background-color: #383838;
  .transition(all .25s cubic-bezier(0.7,0,0.175,1) 0);
  -moz-transition: all .2s ease-out;
}
body{
  .transition(all .25s cubic-bezier(0.7,0,0.175,1) 0);
  -moz-transition: all .2s ease-out;
}
body.show-switcher {
  padding-left: 210px;
  #switcher{
    left:0;
  }
}
body>footer {
text-align: center;
padding: 30px 0;
margin-top: 70px;
border-top: 1px solid #e5e5e5;
background-color: #f5f5f5;
}
#wrapper {  
max-width:860px; 
margin: 0 auto;
padding: 100px 60px 0px 60px;
}

#post>article {  
width:390px; 
float:left; 
position:relative; 
margin-bottom:60px;
padding-bottom:20px;
border-bottom:1px solid #eee;
}




 


@media screen and (min-width: 1024px) {
#wrapper, .pagination {
padding-right:0;
padding-left:0;
max-width:1020px;
}

#post>article  { 
	margin-left:80px; 
}
.pagination{
	margin-left:80px;
}
#post>article.right{
margin-right:80px;
float:right;
}


}

@media screen and (max-width: 1023px) { 
#page { padding: 0 60px; }

#wrapper { 
max-width:580px; 
width:100%; 
padding: 60px 0 0 0;
}

#post>article { 
width:100%; 
padding-bottom:60px;
}   

}


