@import "../_less/teambition-ui.less";
#switcher {
position: fixed;
top: 0;
bottom: 0;
left: -210px;
z-index: 1;
width: 210px;
padding-top: 5px;
overflow-y: auto;
background-color: #383838;
-webkit-transition: all .25s cubic-bezier(0.7,0,0.175,1) 0;
-moz-transition: all .25s cubic-bezier(0.7,0,0.175,1) 0;
-moz-transition: all .2s ease-out;
-o-transition: all .25s cubic-bezier(0.7,0,0.175,1) 0;
transition: all .25s cubic-bezier(0.7,0,0.175,1) 0;
}
body{
-webkit-transition: all .25s cubic-bezier(0.7,0,0.175,1) 0;
-moz-transition: all .25s cubic-bezier(0.7,0,0.175,1) 0;
-moz-transition: all .2s ease-out;
-o-transition: all .25s cubic-bezier(0.7,0,0.175,1) 0;
transition: all .25s cubic-bezier(0.7,0,0.175,1) 0;
}
body.show-switcher {
  padding-left: 210px;
  #switcher{
    left:0;
  }
}
