* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family:Ubuntu, "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  height: 100%;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  background-image: url('/background.jpeg');
  background-size: cover;
  background-position: center top;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
}

#header {
  position: absolute;
  top: 45px;
  left: 35px;
  right: 35px;
  color: white;
  font-size: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

#header h1 {
  text-indent: -9999px;
  background-image: url('logo.png');
  width: 190px;
  height: 36px;
  background-size: 190px 36px;
  background-position: center center;
  margin-left: -2px;
  margin-bottom: 10px;
}

#header p {
  font-size: 14px;
}

#header hr {
  margin: 15px 0;
  border: 0 none;
  border-top: 1px solid rgba(255,255,255,0.3);
}

#header li a {
  margin-right: 7px;
  float: left;
  color: white;
  font-size: 14px;
}

#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.article,
.discuss,
.bubble {
  border-top: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  padding: 50px;
  max-width: 600px;
}

.article:first-child {
  border-top: none;
}

.article .article-footer {
  clear: both;
  text-shadow: 0px 1px 0px #fff;
  display: block;
  overflow: hidden;
}

.article h1,
.index .article h3 {
  padding: 0 0 20px;
  font-size: 32px;
}

.article h2,
.author h2,
.discuss h2,
.bubble h2 {
  padding: 10px 0;
  font-size: 20px;
}

.article h3,
.author h3,
.discuss h3,
.bubble h3 {
  padding: 10px 0;
  font-size: 17px;
}

.article h4,
.author h4,
.discuss h4,
.bubble h4 {
  padding: 10px 0px;
  font-size: 14px;
}

.article p,
.article ul,
.article ol {
  margin: 10px 0;
}

.article img {
  margin: 10px 0;
  max-width: 100%;
}

.article-footer .author {
  width: 240px;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dotted #ddd;
}

.article .name {
  float: left;
  line-height: 30px;
}

.article .author .date {
  float: left;
  line-height: 30px;
}

.article .author img {
  height: 30px;
  width: 30px;
  margin: 0 10px 0 0;
  float: left;
  border-radius: 3px;
}

.article .more {
  display: inline-block;
  text-align: center;
  padding: 20px 0 0;
  margin: 0 auto;
  font-weight: lighter;
}

.article .snippet .code-link {
  position: absolute;
  padding: 0px 2px;
  background: #fafafa;
  border: 1px solid #fff;
  font-size: 10px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  top: 3px;
  right: 3px;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.article .snippet .code-link:hover {
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

.article .snippet .output {
  position: relative;
  padding: 20px 20px 10px;
  border: 1px dashed #ddd;
  border-left: none;
  border-right: none;
  background-color: #fafafa;
}

.article .snippet .output dd {
  font-family: 'Monaco', 'Menlo', monospace;
  font-size: 13px;
  clear: left;
  color: #333;
  text-shadow: 0px 1px 0px #fff;
}

.article .snippet .output dt {
  font-size: 12px;
  border-radius: 5px;
  background-color: #e5e5e5;
  padding: 5px 8px;
  line-height: 12px;
  color: #999;
  text-shadow: 0px 1px 0px #fff;
  float: left;
  position: relative;
  top: -10px;
}

.article .snippet .output:after {
  content: '';
  border: 1px dashed #ccc;
  border-top: none;
  border-bottom: none;
  position: absolute;
  top: -21px;
  left: 20px;
  right: 20px;
  height: 20px;
}

.author img.headshot {
  float: left;
  width: 100px;
  height: 100px;
}

pre code {
  font-family: 'Monaco', 'Menlo', monospace;
  font-size: 13px;
  background-color: #1c1d1e;
  display: block;
  padding: 20px;
  overflow: auto;
  margin: 20px 0px;
  clear: both;
}

.pln {
  color: #f8f7f2;
}

@media (max-width: 800px) {
  body {
    overflow: auto;
    font-size: 130%;
  }
  #cover {
    position: relative;
    top: auto;
    width: 100%;
    height: 450px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  }

  #header {
    top: auto;
    bottom: 50px;
    left: 70px;
    right: auto;
    width: 200px;
  }

  #wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
  }

  .article,
  .discuss,
  .bubble {
    padding: 50px 70px;
    max-width: none;
  }
}

@media (max-width: 550px) {
  body {
    overflow: auto;
    font-size: 100%;
  }
  #cover {
    position: relative;
    top: auto;
    width: 100%;
    height: 300px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  }

  #header {
    top: auto;
    bottom: 25px;
    left: 27px;
    right: auto;
    width: 200px;
  }

  #wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
  }

  .article,
  .discuss,
  .bubble {
    padding: 25px;
    max-width: none;
  }

  .article h1,
  .index .article h3 {
    font-size: 28px;
    padding: 0 0 15px;
  }
}